body {
    background-color: #01061a;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    width: 100%;
    height: 150px;
    background-color: #e84a6e;
    border: solid 2px #fff;
    border-radius: 20px;
    font-size: 24px;
    color: #fff;
    transform: rotateY(-180deg);
    transition-property: color, background-color, transform;
    transition-timing-function: ease-out;
    transition-duration: .7s;
}

.block:hover {
    cursor: pointer;
    background-color: #8f2a41;
}

.is-open {
    transition-property: color, background-color, transform;
    transition-timing-function: ease-out;
    transition-duration: .7s;
    transform: none;
    background-color: #2b98f8;
}

.is-open:hover {
    background-color: #1d6aad;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 615px;
    width: 100%;
    gap: 5px;
}

@media (max-width: 772px) {

    .block {
        max-width: 100px;
        width: 100%;
        height: 100px;
    }
    
}

@media (max-width: 580px) {
    
    .block {
        max-width: 50px;
        width: 100%;
        height: 50px;
    }

    .content {
        max-width: 220px;
    }
    
}

@media (max-width: 300px) {

    .block {
        max-width: 20px;
        width: 100%;
        height: 20px;
    }

    .content {
        max-width: 100px;
    }
    
}